{% extends 'base.html' %}
{% block content %}
<h1>WELCOME HOME BRAH</h1>
<br>
<div>
	<p> LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR
		LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR
		LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR
		LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR
		LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR
		LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR
		LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR LOREM IPSUM DOLAR </p>
</div>
{% endblock %}